header { 
border-bottom: solid 2px rgb(42, 122, 228); 
padding: 20px; 
font-size: 32px;
 color: rgb(42, 122, 228);
 }
body {
  color:black;
 background:pink
font-family: "Pacifico", cursive;
}
section{
 background:rgb(010,101,001);
 padding-botton:80px;
 padding-top:80px;
 display:flex;
 justify-content:center;
}
.chamada-texto{
  margin-rigth:5%;
}
